{% extends 'base.html' %}
{% load static %} 

{% block title %}Expenzo - Change Password{% endblock %}

{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="mb-3 text-center">Change Password</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="current_password" class="form-label">Current Password:</label>
                                <input type="password" name="current_password" class="form-control" required 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Must contain at least 8 characters, including uppercase, lowercase, and a number"/>
                            </div>
                            <div class="mb-3">
                                <label for="new_password" class="form-label">New Password:</label>
                                <input type="password" name="new_password" class="form-control" required 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Must contain at least 8 characters, including uppercase, lowercase, and a number"/>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Confirm New Password:</label>
                                <input type="password" name="confirm_password" class="form-control" required 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Must contain at least 8 characters, including uppercase, lowercase, and a number"/>
                            </div>
                            <button type="submit" class="btn btn-danger w-100">Change Password</button>
                        </form>

                        <!-- Back to Profile -->
                        <div class="mt-3 text-center">
                            <a href="{% url 'profile' %}" class="btn btn-secondary w-100">Back to Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% if messages %}
{% for message in messages %}
    <script>
        alert("{{ message }}");
    </script>
{% endfor %}
{% endif %}
{% endblock %}